{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title_block %}
	Change Profile Info
{% endblock %}

{% block body_block %}

    <h2>Change Profile Info</h2>

    {% if changedProf %}
        <div class="alert alert-success">
            Profile Changed Successfully
        </div>
    {% endif %}
    
    <form method="POST">
        {{ form|crispy }}
        {% csrf_token %}
        <button type="submit" class="btn btn-warning btn-sm">Change Profile</button>
    </form>
    
   
{% endblock %}